.container-up{
    margin-top: 2%;
}
.container-down{
    margin: 5%;
}
.main {
    width: 50%;
    margin: 50px auto;
}

.form-group .form-control {
    padding-left: 2.375rem;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.view-by{
    margin-top: 5%;
    text-align: right;
}
.top{
    width: 100%;
    height: 71%;
    display: flex;
}
.td_1{
    width: 30%; 
    height: 100%;
}
.td_2{
    width: 15%; 
    height: 100%;
    margin-left: 1%;
}
.td_3{
    width: 20%; 
    height: 100%;
    margin-left: 40%;
}